{% extends 'base.html.twig' %}

{% block title %}Hello RequestController!{% endblock %}

{% block body %}
<div class="wrapper">
    <h2>Создате заявку</h2>
    {{ form(request_form) }}
</div>
{% endblock %}
